body {
    background-image: url('/projects/2/imgs/cover4.jpg');
    background-size: cover;
}

body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}

td {
    border: 1px solid black;
    padding: 0;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
    margin-top: 10vh;
    background-image: linear-gradient(-90deg, rgb(99, 190, 171), rgb(212, 220, 221));
    border: 4px solid black;
    border-radius: 2% 2%;
}

td img {
    width: 125px;
    height: 100px;
    padding: 0;
}

table {
    width: 100%;
}

th {
    border: 1px solid black;
}

input[name="bookName"] {
    text-align: center;
}

.read {
    display: flex;
    background-color: rgba(55, 99, 105, 0.9);
    width: 50vw;
    height: 70vh;
    position: absolute;
    bottom: 20vh;
    left: 25vw;
    color: tan;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: 1px solid sienna;
    border-radius: 5% 5% 0 0;
}

.read h1 {
    text-align: center;
}

.read p {
    width: fit-content;
    text-align: center;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.read-book-id {
    display: flex;
    flex: row;
    justify-content: center;
}



.rate-value {
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: azure;
}

.add-book-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.img-bgc {
    background-color: black;
}

.pages {
    margin: 5px;
}

[name="updateModal"] {
    display: flex;
    flex-direction: column;
    background-color: rgba(55, 99, 105, 0.9);
    width: 50vw;
    height: 70vh;
    position: absolute;
    bottom: 20vh;
    left: 25vw;
    color: tan;
    text-align: center;
    justify-content: center;
    align-items: center;
}


[name="updateModal"] input {
    width: 15vw;
}

[name="updateModal"] button {
   margin-top: 5vh;
}

.hide {
    display: none;
}