td {
    border: 1px solid black;
    padding: 0;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    justify-content: flex-start;
    align-items: center;
}

td img {
    width: 100px;
    padding: 0;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

.hide {
    display: none;
}

input[name="bookName"] {
    text-align: center;
}

.read {
    background-color: rgba(55, 99, 105, 0.9);
    width: 50vw;
    height: 70vh;
    position: absolute;
    bottom: 20vh;
    left: 25vw;
    color: tan;
}

.read button {
    position: absolute;
    bottom: 0;
    right: 50%;
}

.read h1 {
    text-align: center;
}

.read p {
    width: 40vw;
    text-align: center;
}

[name="updateModal"] {
    background-color: rgba(55, 99, 105, 0.9);
    width: 50vw;
    height: 70vh;
    position: absolute;
    bottom: 20vh;
    left: 25vw;
    color: tan;
}